# Data Science Tools and Ecosystem

"In this notebook, Data Science Tools and Ecosystem are summarized."

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:

* Pandas
* NumPy
* Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
minutes = 200
hours = minutes / 60
# This will convert 200 minutes to hours by diving by 60
print (hours)

3.3333333333333335

**Objectives**:

* Python
* R
* SQL
* Java
* Julia

## Author
Athanasios Psimadas